h1 {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 6rem;
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    word-spacing: 3px;
    color:#0f474e;
}

html, body {
    min-height: 100%;
    background: beige;
}

.container {
    text-align: center;
    width: 110rem;
    margin: 0 auto;
    display: inline-block
}
