.Loginpage{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: Center;
    background-image: url('../Signuppage/signupbackground.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height:100vh;
    z-index: -10;
}


.header{
    margin-top: 4em;
    margin-left: 7em;
    font-size : 24px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.inputListContainer{
    display:flex;
    flex-direction:column;
}

.content{
    margin-top: 2em;
    margin-left: 12em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0,5);
    top: 0;
    bottom: 0;
    font-size: 18px;
    
}

